<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/43b4abdf-020a-4fd2-9bde-ff4368790547/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/NetwealthCurrencyAPI</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <ApiResourceId>/subscriptions/43b4abdf-020a-4fd2-9bde-ff4368790547/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.ApiManagement/service/netwealthDemo/apis/currencyconverter</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://netwealthcurrencyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>39186706-e7ea-4ae3-8985-936bd0e9435f</ProjectGuid>
    <MSDeployServiceURL>netwealthcurrencyapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetwealthCurrencyAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$NetwealthCurrencyAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>